/* partie header*/
@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Roboto+Slab:wght@400;800&display=swap');
*{
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

header {
    border: 1px solid black;
    background-color: orangered;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-right: 150px;
    padding-top: 10px;
}
nav a:hover{
    color:blue;
}
nav a {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.3em;
    color: white;
}

nav li {
    margin-right: 20px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
}

.logo-span {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    border: 1px solid solid;
    border-radius: 50%;
    padding-left: 7px;
    font-size: 15px;
    color: white;
}

.image {

    max-width: 100%;
    height: 90vh;
    background: url('./../img/page.webp');
    background-size: cover;
    position: relative;
}

.Good {
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 86px;
    color: white;
  margin-top: 22%;
  margin-left: 33%;
    position: absolute;
   
}

.bouton {
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    margin-top: 100%;
    margin-left: 48%;
    border: 1px solid black;
    width: 260px;
    height: 50px;
    background-color: orangered;
    border-radius: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left:25px ;
    font-size: 30px;
    font-weight: bold;  
}
.bouton a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}
/*partie synthaxe*/
.section-menu{
    background-color: #f6f0ee;
}
.menu-section{
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right:auto;
    margin-top: 50px;
    margin-bottom: 50px;
   
   
   
}
.propose{
    text-align: center;
    color: tomato;
}
.entrance-section h3{
    text-align: center;
    color: black;
    padding-top: 15px;
}
.menu-content h5{
    text-transform: capitalize;
    font-size: 20px;
    border-bottom: 1px dotted #131313;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
 .menu-prix{
    color:tomato;
    font-weight: 700;
    float: right;
}


/* partie menu */
.menu {
    background-color: #FFFBFA;
    padding-bottom: 60px;
    padding-top: 50px;
}

.menu-entree {
    display: flex;
    justify-content:space-evenly;
}

.menu-plat{
    display: flex;
    justify-content: space-evenly;
}

.menu-dessert {
    display: flex;
    justify-content: space-evenly;
}
/* partie croquette*/
.croquette-image img {
    width: 300px;
    height: 185px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.croquette-image h3 {
    text-align: center;
}

.croquette {
    box-shadow: 7px 7px 7px 7px whitesmoke;
    border-radius: 20px;
}

/* partie galette*/
.galette-image img {
    width: 300px;
    height: 185px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.galette-image h3 {
    text-align: center;
}

.galette {
    box-shadow: 7px 7px 7px 7px whitesmoke;
    border-radius: 20px;
}

/* partie boulette*/
.boulette-image img {
    width: 300px;
    height: 185px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.boulette-image h3 {
    text-align: center;
}

.boulette{
    box-shadow: 7px 7px 7px 7px whitesmoke;
    border-radius: 20px;
}

/* partie riz*/
.riz-image img {
    width: 300px;
    height: 185px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.riz-image h3 {
    text-align: center;
}

.riz {
    box-shadow: 7px 7px 7px 7px whitesmoke;
    border-radius: 20px;
    height: 250px;
    width: 300px;
    margin-top: 20px;
    margin-left: 19px;
}

/* partie crevette*/
.crevette-image img {
    width: 297px;
    height: 185px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.crevette-image h3 {
    text-align: center;
}

.crevette {
    box-shadow: 7px 7px 7px 7px whitesmoke;
    border-radius: 20px;
    height: 250px;
    width: 300px;
    margin-top: 20px;
    margin-left: 20px;
}

/* partie ayimolou */
.ayimolou-image img {
    width: 300px;
    height: 185px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.ayimolou-image h3 {
    text-align: center;
}

.ayimolou {
    box-shadow: 7px 7px 7px 7px whitesmoke;
    border-radius: 20px;
    margin-right: 20px;
    height: 250px;
    width: 300px;
    margin-top: 20px;
    margin-left: 23px;
}

/* partie crepe */
.crepe-image img {
    width: 300px;
    height: 185px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.crepe-image h3 {
    text-align: center;
}

.crepe {
    box-shadow: 7px 7px 7px 7px whitesmoke;
    border-radius: 20px;

    height: 250px;
    width: 300px;
    margin-top: 20px;
}

/*jus d'annanas*/
.annanas-image img {
    width: 300px;
    height: 185px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.annanas-image h3 {
    text-align: center;
}

.annanas {
    box-shadow: 7px 7px 7px 7px whitesmoke;
    border-radius: 20px;
    height: 250px;
    width: 300px;
    margin-top: 25px;
}

/*jus de fruit*/
.fruit-image img {
    width: 300px;
    height: 185px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.fruit-image h3 {
    text-align: center;
}

.fruit {
    box-shadow: 7px 7px 7px 7px whitesmoke;
    border-radius: 20px;
    height: 250px;
    width: 300px;
    margin-top: 25px;
}

/*partie localisation*/
.localisation {
    padding-bottom: 40px;
    border: 1px solid white;
    box-shadow: 10px 710x 10px 10px whitesmoke;
    
}

.localisation1 {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.localisation span {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-top: 20px;
    font-weight: 700;

}

/* partie partenaire*/
.partenaire {
    border: 1px solid white;
    background-color: #FFFBFA;
    box-shadow: 0px 0px 5px 0px;
}
.partenaire span {
    text-align: center;
    font-size: 32px;
    padding-top: 20px;
    font-weight: 700;
}
.partenaire p {
    text-align: center;
    font-size: 24px;
    padding-bottom: 35px;
}
.partenaire1 {
    display: flex;
    justify-content: space-around;
}
.logo2 {
    height: 180px;
    width: 180px;
}
.logo3 {
    height: 180px;
    width: 180px;
}
.logo1 {
    height: 270px;
    width: 233px;
}
/* partie formulaire */
.formulaire {
    width: 100px;
    margin-left:  auto;
    margin-right: auto;
    padding-top: 25px; 
}
form div {
    display: flex;
    flex-direction: column;
    width: 70%;
}
form div>label {
    padding-bottom: 8px;
    font-size: 18px;
}
form div>input,
form div>textarea {
    background-color: #FFFBFA;
    border: 2px solid black;
}
form div>input {
    height: 40px;
    box-shadow: 5px 5px 5px 5px whitesmoke;
}
form div>textarea {
    height: 200px;
    border: 2px solid black;
     box-shadow: 5px 5px 5px 5px whitesmoke;
}
form button {
    margin-top: 20px;
    width: 45%;
    height: 55px;
    display: flex;
    justify-content: center;
    background-color: #FFFBFA;
    border-radius: 10px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}
.formulaire span{
    font-size: 20px;
}
.formulaire p{
    font-size:18px ;
    padding-top: 5px;
    padding-bottom: 5px;
}
/* partie témoignage */
.section-temoignage span {
    text-align: center;
    color: orangered;
    font-size: 32px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.temoignage {
    display: flex;
    justify-content: space-around;
}
.temoignage-un{
    border: 1px solid white;
    width: 370px;
    height: 250px;
    box-shadow: 5px 5px 5px 5px whitesmoke;
}
.nom-un {
    background-color: orangered;
    height: 40px;
    color: white;
    padding-left: 10px;
    font-size: 22px;
}
.text-un {
    padding-left: 10px;
    font-size: 20px;
}
.temoignage-deux {
    border: 1px solid white;
    width: 370px;
    height: 250px;
    box-shadow: 5px 5px 5px 5px whitesmoke;
}
.nom-deux {
    background-color: orangered;
    height: 40px;
    color: white;
    padding-left: 10px;
    font-size: 24px;
}
.text-deux {
    padding-left: 10px;
    font-size: 20px;
}
.temoignage-trois {
    border: 1px solid white;
    width: 370px;
    height: 250px;
    box-shadow: 5px 5px 5px 5px whitesmoke;
}
.nom-trois {
    background-color: orangered;
    height: 40px;
    color: white;
    padding-left: 10px;
    font-size: 24px;
}
.text-trois {
    padding-left: 10px;
    font-size: 20px;
}
/* partie footer */
.pied {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    background-color: #545050;
    color: white;
    font-size: 26px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.suivez {
    text-align: center;
}
.suivez a{
    text-decoration: none;
    cursor: pointer;
}
.address {
    margin-right: 50px;
}
/* partie media queri*/
@media all and (max-width:1440px){
    .image{
        height: 75vh;
        width: auto;
    }
    .bouton {
        position: absolute;
        margin-top: 40%;
        margin-left: 45%;
        height: 20px;
        width: 125px;
        font-size: 1rem;
        padding-right: 25px;
        
    } 
    .Good {
        font-size: 35px;
      margin-top: 25%;
      margin-left: 27%;
        position: absolute;
}
.menu {
    background-color: #FFFBFA;
    padding-bottom: 60px;
    padding-top: 50px;
}
form div {
    width: 100%;
}
.formulaire{
    width: 50%;
}

.formulaire p{
    font-size:15px ;
   padding-top: 5px;
   padding-bottom: 10px;
    
}
}
@media all and (max-width:1366px){
    .image{
        height: 95vh;
    }
    
.Good {
    font-size: 80px;
  margin-top: 24%;
  margin-left: 33%;
    position: absolute;
   
}
.menu {
    background-color: #FFFBFA;;
    padding-bottom: 60px;
    padding-top: 50px;
}
.bouton {
   
    margin-top: 42%;
    margin-left: 48%;
    width: 160px;
    height: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left:30px ;
    font-size: 20px;
    font-weight: bold; 
}
.partenaire {
    border: 1px solid white;
    background-color: #FFFBFA;
    box-shadow: 7px 7px 7px 7px whitesmoke;
}
form div>input,
form div>textarea {
    background-color: #FFFBFA;
    border: 2px solid black;
}

form div {
    width: 100%;
}
.formulaire{
    width: 50%;
}

.formulaire p{
    font-size:15px ;
   padding-top: 5px;
   padding-bottom: 10px;
    
}

} 


@media all and ( max-width:1090px){
    nav{
        margin: auto;
        text-align: left;
    }
    nav ul{
        flex-direction: column;
    }
   nav a{
     font-size:1rem ;
   }
   nav a:hover{
    color: black;
}
.image{
    height: 60vh;
    width: auto;
}
.partenaire span{
    font-size: 20px;
    font-weight: 700;
}
.partenaire p{
    font-size: 15px;
}
.temoignage{
    flex-wrap: wrap;
    margin-top: 30px;
}
.temoignage-trois{
    margin-top: 25px;
}
.section-temoignage span{
    font-size: 20px;
    padding-top: 20Px;
}
.pied{
    font-size: 1rem;
}
}

@media all and  (max-width:1024px){
    .image{
        height: 65vh;
    }
    .bouton {
        margin-top: 42%;
        margin-left: 43%;
        height: 20px;
        width: 125px;
        font-size: 1rem;
        padding-right: 20px;
    }
} 
@media all and (max-width: 840px)
{
   
    nav{
        margin: auto;
        text-align: left;
    }
    nav ul{
        flex-direction: column;
    }
   nav a{
     font-size:1rem ;
   }
   nav a:hover{
    color: black;
   }
   /*partie après header*/
   .image{
       height: 35vh;
       width: auto;
   }

    .Good {
        font-size: 35px;
      margin-top: 25%;
      margin-left: 27%;
        position: absolute;
    }
    .bouton {
        position: absolute;
        margin-top: 40%;
        margin-left: 43%;
        height: 20px;
        width: 125px;
        font-size: 1rem;
        padding-right: 20px;
    } 
    /*partie menu*/
    
       .menu-entree{
        flex-wrap: wrap;
    }
    .menu-plat {
        flex-wrap: wrap;
    }
    
    .menu-dessert {
        flex-wrap: wrap;
    }
    .boulette{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .ayimolou{
        margin-top: 25px;
        margin-bottom: 25px; 
    }
    
.localisation span {
    font-size: 20px;

}
/*partenaire*/
    .partenaire span {
        text-align: center;
        font-size: 20px;
    }
    .partenaire p {
        font-size: 15px;
    }
.logo2 {
    height: 150px;
    width: 150px;
}
.logo3 {
    height: 150px;
    width: 150px;
}
/*formulaire*/
.formulaire{
width: 50%;
}
.formulaire span{
    font-size: 17px;
    padding-bottom: 10px;
}
.formulaire p{
   font-size: 15px;
   padding-bottom: 10px;
} 
form div {
   width:100% ;
}
form div>label {
    padding-bottom: 7px;
    font-size: 15px;
}
form div>textarea {
    width: 100%; 
}
form button {
    width: 20vh;
    font-size: 15px;
margin-left: 0 auto;
margin-right: 0 auto;

}
/*témoignage*/
.temoignage {
    flex-wrap: wrap;
}
.temoignage-trois{
    margin-top: 25px;
}
/*footer*/
.pied{
    flex-wrap: wrap;
    font-size: 15px;
    padding: 5px;
    
}
.service{
    padding-right: 1px;
}
.compagnie{
    padding-right: 1px;
}
.address{
    padding-right: 1px;
}
}

@media all and (max-width:769px){
    .bouton {
        margin-top: 40%;
        margin-left: 43%;
        height: 20px;
        width: 125px;
        font-size: 1rem;
        padding-right: 20px;
    }
    .image{
        height: 65vh;
    width: auto;
    } 
    .temoignage-deux{
        padding-left: 5px;
    }
.pied{
    font-size: 15px;
    padding: 5px;
}
.service{
    padding-right: 3px;
}
.compagnie{
    padding-right: 3px;
}
.address{
    padding-right: 3px;
}
}
@media all and (max-width:649px){
    .partenaire span {
        text-align: center;
        font-size: 32px;
        padding-top: 20px;
        font-weight: 700;
    }
    .partenaire p {
        text-align: center;
        font-size: 0.8rem;
        padding-bottom: 35px;
    }
    .partenaire1 {
        display: block;
        margin-left:30%;

    }
    .logo2 {
        height: 150px;
        width: 150px;
        margin-bottom: 20%;
    }
    .logo3 {
        height: 150px;
        width: 150px;
        margin-bottom: 20%;
    }
    .logo1 {
        height: 230px;
        width: 200px;
    }
}
@media all and (max-width:548px){
    nav{
        margin-right: auto;
        
    }
    nav ul{
        flex-direction: column;
    }
   nav a{
     font-size:1rem ;
   }
   nav a:hover{
    color: black;
   }
    .image{
        height: 35vh;
    width: auto;
    } 
    .partenaire span {
        text-align: center;
        font-size: 32px;
        padding-top: 20px;
        font-weight: 700;
    }
    .partenaire p {
        text-align: center;
        font-size: 0.8rem;
        padding-bottom: 35px;
    }
    .partenaire1 {
        display: block;
        margin-left:30%;

    }
    .logo2 {
        height: 150px;
        width: 150px;
        margin-bottom: 20%;
    }
    .logo3 {
        height: 150px;
        width: 150px;
        margin-bottom: 20%;
    }
    .logo1 {
        height: 230px;
        width: 200px;
    }
}
