
/* partie header*/
header{
    border: 1px solid black;
    background-color: orangered;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 92,24px;
    padding: 15px;
}
nav ul
{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-right: 150px;     
}
nav a
{
    text-decoration: none;
    cursor: pointer;  
    font-size: 1.3em;
    color: white;      
}
nav li {
    margin-right: 20px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
}
span{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    border: 1px solid solid;
    border-radius: 50%;
    padding-left: 7px;
    font-size: 15px;
    color: white;
}
.image{
   
    width: 100%;
   height:110vh;
   background: url(/img/page.jpg); 
   background-size: cover;
   position: relative;  
}
 .Good{
display: flex;
justify-content: center;
    font-weight: bold;
    font-size: 96px;
    align-items: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 650px;
   
}
.bouton{
    border: 1px solid black;
    width: 260px;
    height: 50px;
    background-color: orangered;
    color: white;
    border-radius: 20px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 25px;
    margin-top: 800px;
    margin-right: 800px;
    font-size: 32px;
   font-weight: bold;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
}
.section{
    background-color: #FFFBFA;
}
.border{
    border: 3px solid black;
    margin-left: 600px;
    margin-right: 600px;
    margin-bottom: 70px;
    border-radius: 5%;
    margin-top: 80px;
    padding: 5px;
}
.restaurant{
  text-align: center;
    color: orangered;
    margin-left: 300px;
    margin-right: 300px;
}
.propose{
    text-align: center;
    margin-right: 60px;
   font-size: 25px; 
   padding-left: 100px;

}
.propose1{
    margin-right: 60px;
   font-size: 30px; 
   margin-left: 67px; 
   padding-top:20px;
}
/* partie enté */
.Entrée{
    
    margin-left: 70px;
    margin-right: 300px;
   font-size: 30px;
    padding: 10px;
}
.entré{
    text-align: center;
    margin-left: 300px;
    font-size: 40px;
}
/* partie plat */
.plat{
    
    margin-left: 70px;
    margin-right: 300px;
   font-size: 30px;
    padding: 10px;
}
.plat1{
    text-align: center;
    margin-left: 300px;
    font-size: 40px;
}
/* partie dessert*/
.dessert{
    
    margin-left: 70px;
    margin-right: 300px;
   font-size: 30px;
    padding: 10px;
}
.dessert1{
    text-align: center;
    margin-left: 300px;
    font-size: 40px;
}
.prix{
    
    align-items: center;
    color: orangered;
    margin-left: 400px;
    margin-right: 300px;
}
.services{
    text-align: center;
    margin-right: 60px;
   font-size: 30px;


}
/* partie menu */
.menu{
    border: 1px solid black;
    background-color: #FFFBFA;
    padding-bottom: 50px;
   
}
.etape1{
    display: flex;
    justify-content: space-around;
}
.etape2{
    display: flex;
    justify-content: space-around;
}
.etape3{
    display: flex;
    justify-content: space-around;
}
.etape4{
    display: flex;
    justify-content: space-around;
}
/* partie croquette*/
.croquette-image img{
    width: 300px;
    height: 185px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.croquette-image h3{
   text-align: center;
}
.croquette{
    border: 2px solid black;
    border-radius: 20px;
}
/* partie galette*/
.galette-image img{
    width: 300px;
    height: 185px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;  
}
.galette-image h3{
    text-align: center;
 }
 .galette{
    border: 2px solid black;
    border-radius: 20px;
}
/* partie boulette*/
.boulette-image img{
    width: 300px;
    height: 185px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.boulette-image h3{
    text-align: center;
 }
 .boulette{
    border: 2px solid black;
    border-radius: 20px;
}
/* partie riz*/
.riz-image img{
    width: 300px;
    height: 185px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.riz-image h3{
    text-align: center;
 }
 .riz{
    border: 2px solid black;
    border-radius: 20px;
    height: 250px;
    width: 300px;
    margin-top: 20px;
}
/* partie crevette*/
.crevette-image img{
    width: 297px;
    height: 185px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
.crevette-image h3{
    text-align: center;
 }
 .crevette{
    border: 2px solid black;
    border-radius: 20px;
    height: 250px;
    width: 300px;
    margin-top: 20px;
}
/* partie ayimolou */
.ayimolou-image img{
    width: 300px;
    height: 185px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;   
}
.ayimolou-image h3{
    text-align: center;
 }
 .ayimolou{
    border: 2px solid black;
    border-radius: 20px;
    margin-right: 20px;
    height: 250px;
    width: 300px;
    margin-top: 20px;
}
/* partie crepe */
.crepe-image img{
    width: 300px;
    height: 185px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;   
}
.crepe-image h3{
    text-align: center;
 }
 .crepe{
    border: 2px solid black;
    border-radius: 20px;

    height: 250px;
    width: 300px;
    margin-top: 20px;
}
/*jus d'annanas*/
.annanas-image img{
    width: 300px;
    height: 185px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;   
}
.annanas-image h3{
    text-align: center;
 }
 .annanas{
    border: 2px solid black;
    border-radius: 20px;

    height: 250px;
    width: 300px;
    margin-top: 20px;
}
/*jus de fruit*/
.fruit-image img{
    width: 300px;
    height: 185px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;   
}
.fruit-image h3{
    text-align: center;
 }
 .fruit{
    border: 2px solid black;
    border-radius: 20px;
    height: 250px;
    width: 300px;
    margin-top: 20px;
}
/*partie localisation*/
.localisation{
    border: 1px solid black;
    padding-top: 5px;
}
.localisation1{
    display: flex;
    justify-content: center;
}
.localisation h5{
    display: flex;
    justify-content: center;
    font-size: 32px;
}
/* partie partenaire*/
.partenaire{
    background-color: #FFFBFA;
    box-shadow: 6px;

}
.partenaire h4{
    text-align: center;
    font-size: 32px;
}
.partenaire p{
    text-align: center;
    font-size: 24px;
} 
.partenaire1{
    display: flex;
    justify-content: space-around;
}
.logo2{
    height: 180px;
    width: 180px;
}
.logo3{
    height: 180px;
    width: 180px;
}
.logo1{
    height: 270px;
    width: 233px;
}
/* partie formulaire */
.formulaire{
    margin-left: 800px;
}
form div {
    display: flex;
    flex-direction: column;
   width: 50%;
}
form div > label{
    padding-bottom: 7px;
    
}
form div >input, form div >textarea{
    background-color: #FFFBFA;
}
form div >input{
    height:40px ;
}
form div >textarea{
    height: 200px;
}
form button{
    margin-top: 20px;
    width: 30%;
    height: 40px;
    display: flex;
    justify-content: center;
    background-color: #FFFBFA;
    border-radius:10px ;
    align-items: center;
    margin-left: 250px;
}
/* partie témoignage */
.témoignage-section h4{
    text-align: center;
    color: orangered;
    font-size: 32px;
}
.témoignage{
    display: flex;
    justify-content: space-around;
}
.témoignage1{
    border: 1px solid black;
    width: 370px;
    height: 250px;
}
.nom1 {
    background-color: orangered;
    height: 40px;
    color: white;
    padding-left: 10px;
    font-size: 24px;
}
.text1{
    padding-left: 10px;
    font-size: 24px;
}
.témoignage2{
    border: 1px solid black;
    width: 370px;
    height: 250px;
}
.nom2 {
    background-color: orangered;
    height: 40px;
    color: white;
    padding-left: 10px;
    font-size: 24px;
}
.text2{
    padding-left: 10px;
    font-size: 24px;
}
.témoignage3{
    border: 1px solid black;
    width: 370px;
    height: 250px;
}
.nom3 {
    background-color: orangered;
    height: 40px;
    color: white;
    padding-left: 10px;
    font-size: 24px;
}
.text3{
    padding-left: 10px;
    font-size: 24px;
}
/* partie footer */
.pied{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    background-color:  #545050;
    color: white;
}
.suivez{
    margin-left: 50px;
}
.address{
    margin-right: 50px;
}
